{% extends 'base.html' %}
{% if not user.is_authenticated %}
<meta http-equiv="refresh" content="0; URL=/" />
{% endif %}
{% load static %}
{% block head %}
<link href="{% static "/main.css" %}" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet">
<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
<script src="http://yandex.st/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static "/history.js" %}"></script>
{% endblock head %}
{% block body %}
{% csrf_token %}
<geo>
    <aside>
        <h3>Навигация</h3>
        <ul>
            {% for i in data %}
            <a onClick="draw({{ i.ids }})"><li>{{ i.ids }}:{{ i.datekey }}</li></a>
            {% endfor %}
        </ul>
    </aside>
    <main>
        <table>
            <td valign="top"><div id="ymapid"></div></td>
            <td valign="top"><p4>Реалность:</p4><ul id="menu"></ul></td>
            <td valign="top" style="list-style: none;"><p4>План:</p4><ul id="menul" style="list-style: none;"></ul></td>
        </table>
    </main>
</geo>
{% endblock body %}